@import "varfunctions";

.btn-login {
  background-color: color(accent);
  color: fontColor(dark);
  border-radius: 5px;
}

.btn-signup {
  margin-right: 10px;
  border: 2px solid color(accent);
  border-radius: 5px;
  margin-left: 10px;
}
