@import "./partials/varfunctions";
@import "./partials/btn";
@import "./partials/boxshadow";
@import "./partials/banner";

html {
  scroll-behavior: smooth;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e6e6e6;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.container {
  width: 100vw;
  max-width: 1560px;
  margin: 0 auto;
}

#header {
  height: 100vh;
  max-height: 760px;
  background-image: linear-gradient(
      90deg,
      rgba(50, 9, 117, 0.9) 0%,
      rgba(19, 2, 94, 0.8) 50%,
      rgba(50, 9, 117, 0.9) 100%
    ),
    url(../images/heroimage.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;

  .logo {
    margin: 0 50px;
    padding-top: 10px;
  }
  nav {
    display: flex;
    position: absolute;
    right: 50px;
    top: 20px;
    a {
      padding: 5px 30px;
      font-size: fontSize(paragraph);
      color: fontColor(light);
      text-decoration: none;
    }
    .btn-login {
      @extend .btn-login;
    }
    .btn-signup {
      @extend .btn-signup;
    }
  }

  .header-content {
    width: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    .img-logo {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 75px;
    }
    div {
      h1 {
        font-size: 3.5rem;
        margin: 0px;
        letter-spacing: 5px;
        color: fontColor(light);
        text-align: center;
      }
      p {
        font-size: fontSize(subheading);
        text-align: center;
        margin: 0;
        color: fontColor(light);
      }
    }
  }
  .hero-illustration {
    width: 40%;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
  }
}

#templates {
  padding: 70px 50px;
  background-color: color(primary);
  display: flex;
  flex-direction: column;
  text-align: center;
  .template-content {
    img {
      display: block;
      width: 5rem;
      margin: 10px auto;
    }
    h1 {
      font-size: fontSize(heading);
      font-weight: 400;
    }
  }
  .template-flex {
    display: flex;
    margin: 30px auto;
    width: 100%;
    justify-content: space-around;

    .flex-item {
      width: 25rem;
      height: 15rem;
      margin: 20px;
      @extend %box-shadow;
    }
    .item1 {
      background-image: url(../images/template1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    .item2 {
      background-image: url(../images/template2.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    .item3 {
      background-image: url(../images/template3.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }
  .template-btn {
    width: 200px;
    @extend %btn;
    margin: 20px auto;
  }
}

#banner-1 {
  @extend %banner;
  background-image: linear-gradient(
      90deg,
      rgb(58, 10, 112) 0%,
      rgba(76, 6, 117, 0.7) 50%,
      rgba(58, 10, 112, 1) 100%
    ),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='521' height='434.2' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.23'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}

#power {
  padding: 70px 50px;
  background-color: color(primary);
  text-align: center;
  .power-content {
    h1 {
      font-size: fontSize(heading);
      font-weight: 400;
      margin-top: 0;
    }
    .power-flex {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin: 30px auto;
      justify-content: space-around;
      .flex-item {
        width: 30%;
        height: 300px;
        margin: 20px;
        display: flex;
        flex-direction: column;

        .img-power {
          margin: 0 auto;
          width: 20rem;
          height: 15rem;
          background-image: url(../images/ultra-performance.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          @extend %box-shadow;
        }
        h4 {
          font-size: fontSize(paragraph);
          margin-bottom: 0;
          color: color(secondary);
        }
        .img2 {
          background-image: url(../images/multilingual.jpg);
        }
        .img3 {
          background-image: url(../images/woocommerce.png);
        }
        .img4 {
          background-image: url(../images/responsive.jpg);
        }
        .img5 {
          background-image: url(../images/adaptive.png);
        }
        .img6 {
          background-image: url(../images/layout.png);
        }
      }
    }
  }
  .button {
    @extend %btn;
    padding-left: 30px;
    padding-right: 30px;
  }
}

#banner-2 {
  @extend %banner;
  background-image: linear-gradient(
      90deg,
      rgb(58, 10, 112) 0%,
      rgba(76, 6, 117, 0.801) 50%,
      rgba(58, 10, 112, 1) 100%
    ),
    url(../images/banner2.jpg);

  h4 {
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
  }
}
